body {
    font-family: arial;
}
fieldset {
    background: #fcfcfc;
    padding: 16px;
    border: 1px solid #d5d5d5;
}
.addfields {
    margin: 10px 0;
}

.msg {
    padding: 10px;
    background: rgb(227, 250, 227);
    border: 1px solid rgb(171, 239, 171);
    color: rgb(9, 56, 9);
}
.remove {
    background: #ccc;
    color: #c76868;
    font-weight: bold;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 2px 8px 5px;
    vertical-align: top;
    line-height: 100%;
}
input {
    width: 85px;
}

select {
    padding: 5px;
    width: 85px;
}
